/* ===== TOAST COLORS ===== */

.toast-neutral {
  background: #2e2e2e;
  color: #e6e6e6;
}

.toast-success {
  background: #1f6f43;
  color: #eafff3;
}

.toast-warning {
  background: #8a6d1d;
  color: #fff4d6;
}

.toast-error {
  background: #7a2323;
  color: #ffecec;
}
